/*
Alternative style:
Dark Grey: #262626;
Light Grey: #505050;

Pastel Blue: #47aadd;
Light Blue: #008cd7;
Dark Blue: #006ba4;
Turquoise: #02425b;

Light Green: #2cb55d;
Dark Green: #228c48;
Red Highlight: #f36b6b;
*/
/*------------------- Banner CSS ---------------------*/
a, a:link,
a:active,
a:visited {
  -webkit-transition: color 0.25s ease-in-out;
  -moz-transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
  color: #2cb55d;
  outline: none;
  text-decoration: none; }

a:hover {
  color: #FFF; }

#wrapper {
  position: relative; }

#branding {
  width: 100%;
  background: #262626;
  z-index: 8;
  position: fixed; }
  #branding h1 {
    padding: 0px 45px;
    padding-bottom: 4px;
    margin: 0 auto;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Industry-Bold', sans-serif; }
  #branding .links a {
    font-family: 'Industry-Book', sans-serif; }

.links {
  float: right;
  vertical-align: middle;
  padding-top: 12.5px;
  padding-right: 20px; }

.highlighted {
  color: #f36b6b;
  padding-left: 15px;
  padding-right: 15px; }

/*--------------------------------------*\

    FONTS

\*--------------------------------------*/
/* @import must be at top of file, otherwise CSS will not work */
@font-face {
  font-family: 'Industry-BlackItalic';
  src: url("fonts/2A7E41_0_0.eot");
  src: url("fonts/2A7E41_0_0.eot?#iefix") format("embedded-opentype"), url("fonts/2A7E41_0_0.woff") format("woff"), url("fonts/2A7E41_0_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Industry-Black';
  src: url("fonts/2A7E41_1_0.eot");
  src: url("fonts/2A7E41_1_0.eot?#iefix") format("embedded-opentype"), url("fonts/2A7E41_1_0.woff") format("woff"), url("fonts/2A7E41_1_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Industry-BoldItalic';
  src: url("fonts/2A7E41_2_0.eot");
  src: url("fonts/2A7E41_2_0.eot?#iefix") format("embedded-opentype"), url("fonts/2A7E41_2_0.woff") format("woff"), url("fonts/2A7E41_2_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Industry-Bold';
  src: url("fonts/2A7E41_3_0.eot");
  src: url("fonts/2A7E41_3_0.eot?#iefix") format("embedded-opentype"), url("fonts/2A7E41_3_0.woff") format("woff"), url("fonts/2A7E41_3_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Industry-BookItalic';
  src: url("fonts/2A7E41_4_0.eot");
  src: url("fonts/2A7E41_4_0.eot?#iefix") format("embedded-opentype"), url("fonts/2A7E41_4_0.woff") format("woff"), url("fonts/2A7E41_4_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Industry-Book';
  src: url("fonts/2A7E41_5_0.eot");
  src: url("fonts/2A7E41_5_0.eot?#iefix") format("embedded-opentype"), url("fonts/2A7E41_5_0.woff") format("woff"), url("fonts/2A7E41_5_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Industry-DemiItalic';
  src: url("fonts/2A7E41_6_0.eot");
  src: url("fonts/2A7E41_6_0.eot?#iefix") format("embedded-opentype"), url("fonts/2A7E41_6_0.woff") format("woff"), url("fonts/2A7E41_6_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Industry-Demi';
  src: url("fonts/2A7E41_7_0.eot");
  src: url("fonts/2A7E41_7_0.eot?#iefix") format("embedded-opentype"), url("fonts/2A7E41_7_0.woff") format("woff"), url("fonts/2A7E41_7_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Industry-LightItalic';
  src: url("fonts/2A7E41_8_0.eot");
  src: url("fonts/2A7E41_8_0.eot?#iefix") format("embedded-opentype"), url("fonts/2A7E41_8_0.woff") format("woff"), url("fonts/2A7E41_8_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Industry-Light';
  src: url("fonts/2A7E41_9_0.eot");
  src: url("fonts/2A7E41_9_0.eot?#iefix") format("embedded-opentype"), url("fonts/2A7E41_9_0.woff") format("woff"), url("fonts/2A7E41_9_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Industry-MediumItalic';
  src: url("fonts/2A7E41_A_0.eot");
  src: url("fonts/2A7E41_A_0.eot?#iefix") format("embedded-opentype"), url("fonts/2A7E41_A_0.woff") format("woff"), url("fonts/2A7E41_A_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Industry-Medium';
  src: url("fonts/2A7E41_B_0.eot");
  src: url("fonts/2A7E41_B_0.eot?#iefix") format("embedded-opentype"), url("fonts/2A7E41_B_0.woff") format("woff"), url("fonts/2A7E41_B_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Industry-Thin';
  src: url("fonts/2A7E41_C_0.eot");
  src: url("fonts/2A7E41_C_0.eot?#iefix") format("embedded-opentype"), url("fonts/2A7E41_C_0.woff") format("woff"), url("fonts/2A7E41_C_0.ttf") format("truetype"); }

@font-face {
  font-family: 'Industry-ThinItalic';
  src: url("fonts/2A7E41_D_0.eot");
  src: url("fonts/2A7E41_D_0.eot?#iefix") format("embedded-opentype"), url("fonts/2A7E41_D_0.woff") format("woff"), url("fonts/2A7E41_D_0.ttf") format("truetype"); }
