/*------------------------------*\

	TABLE OF CONTENTS

	x. SASS ELEMENTS (not shown in CSS)

	0. HACKS AND OVERRIDES

	1. CONTENT

\*------------------------------*/

/*------------------------------------*\

    x. SASS ELEMENTS

\*------------------------------------*/

@import "bourbon/bourbon";
@import "variables";
@import "neat/neat";
@import "typography";


/* Typography */
p, li{
  font-size: 15px;
  line-height: 1.5;
}

body {
  background-color: $lt-grey;
}

header {
  h1 {
    float: left;
    padding: 5px 0px 5px 10px;
  }
  img{
    float: left;
  }

  .source {
    float: right;
  }
}

section {
  @include outer-container;
  text-align: center;

  & > code, code.block {
    display: block;
  }

  div {
    height: auto;
    text-align: left;
    padding: 1em;
    padding-bottom: 3em;
  }

  &.bullets {
    div {
      height: auto;
      line-height: $body-line-height;
      text-align: left;
      overflow: auto;
    }
  }
  &.bio {
    div {
      height: auto;
      padding: 1em;
      overflow: auto;
    }
  }
  &.cards {
    padding: 1em;
    div {
      height: auto;
      padding: 0em;
      overflow: auto;
    }
  } 
}


	