/*------------------------------*\

	TABLE OF CONTENTS

	x. SASS ELEMENTS (not shown in CSS)

	0. HACKS AND OVERRIDES

	1. CONTENT

\*------------------------------*/
/*------------------------------------*\

    x. SASS ELEMENTS

\*------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font: 1em "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.618em; }

/* Typography */
p, li {
  font-size: 15px;
  line-height: 1.5; }

body {
  background-color: #d5eefb; }

header h1 {
  float: left;
  padding: 5px 0px 5px 10px; }
header img {
  float: left; }
header .source {
  float: right; }

section {
  max-width: 64em;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  section:after {
    content: "";
    display: table;
    clear: both; }
  section > code, section code.block {
    display: block; }
  section div {
    height: auto;
    text-align: left;
    padding: 1em;
    padding-bottom: 3em; }
  section.bullets div {
    height: auto;
    line-height: 1.618em;
    text-align: left;
    overflow: auto; }
  section.bio div {
    height: auto;
    padding: 1em;
    overflow: auto; }
  section.cards {
    padding: 1em; }
    section.cards div {
      height: auto;
      padding: 0em;
      overflow: auto; }
