$banner-color: #262626;
$banner-text: #2cb55d;
$highlight: #f36b6b;

/*
Alternative style:
Dark Grey: #262626;
Light Grey: #505050;

Pastel Blue: #47aadd;
Light Blue: #008cd7;
Dark Blue: #006ba4;
Turquoise: #02425b;

Light Green: #2cb55d;
Dark Green: #228c48;
Red Highlight: #f36b6b;
*/

/*--------------------------------------*\

    Default All Elements

\*--------------------------------------*/

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    
    blockquote, q {
        quotes: none;
    }
    
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }



/*--------------------------------------*\

    Banner CSS

\*--------------------------------------*/

a, a:link,
a:active,
a:visited {
	-webkit-transition: color 0.25s ease-in-out;
	-moz-transition: color 0.25s ease-in-out;
	-o-transition: color 0.25s ease-in-out;
	transition: color 0.25s ease-in-out; 
	color:$banner-text;
	outline: none;
	text-decoration:none;
	}
	a:hover { 
		color:#FFF;
		}


#wrapper {
	position: relative;
}
#branding {
	width: 100%;
	background: $banner-color;
	z-index: 8;
	position: fixed;
	h1 {
		padding: 0px 45px;
        padding-bottom: 4px;
		margin: 0 auto;
		font-size: 30px;
		font-weight: bold;
		font-family: 'Industry-Bold', sans-serif;
	}
	.links a {
		font-family: 'Industry-Book', sans-serif;
	}
}
.links {
	float:right;
	vertical-align:middle;
	padding-top:12.5px;
	padding-right:20px;
}

.highlighted{
	color:$highlight;
	padding-left: 15px;
	padding-right: 15px;
}

/*--------------------------------------*\

    FONTS

\*--------------------------------------*/

/* @import must be at top of file, otherwise CSS will not work */
//@import url("//hello.myfonts.net/count/2a7e41");

  
@font-face {font-family: 'Industry-BlackItalic';src: url('fonts/2A7E41_0_0.eot');src: url('fonts/2A7E41_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/2A7E41_0_0.woff') format('woff'),url('fonts/2A7E41_0_0.ttf') format('truetype');}
@font-face {font-family: 'Industry-Black';src: url('fonts/2A7E41_1_0.eot');src: url('fonts/2A7E41_1_0.eot?#iefix') format('embedded-opentype'),url('fonts/2A7E41_1_0.woff') format('woff'),url('fonts/2A7E41_1_0.ttf') format('truetype');}
@font-face {font-family: 'Industry-BoldItalic';src: url('fonts/2A7E41_2_0.eot');src: url('fonts/2A7E41_2_0.eot?#iefix') format('embedded-opentype'),url('fonts/2A7E41_2_0.woff') format('woff'),url('fonts/2A7E41_2_0.ttf') format('truetype');}
@font-face {font-family: 'Industry-Bold';src: url('fonts/2A7E41_3_0.eot');src: url('fonts/2A7E41_3_0.eot?#iefix') format('embedded-opentype'),url('fonts/2A7E41_3_0.woff') format('woff'),url('fonts/2A7E41_3_0.ttf') format('truetype');}  
@font-face {font-family: 'Industry-BookItalic';src: url('fonts/2A7E41_4_0.eot');src: url('fonts/2A7E41_4_0.eot?#iefix') format('embedded-opentype'),url('fonts/2A7E41_4_0.woff') format('woff'),url('fonts/2A7E41_4_0.ttf') format('truetype');}
@font-face {font-family: 'Industry-Book';src: url('fonts/2A7E41_5_0.eot');src: url('fonts/2A7E41_5_0.eot?#iefix') format('embedded-opentype'),url('fonts/2A7E41_5_0.woff') format('woff'),url('fonts/2A7E41_5_0.ttf') format('truetype');}
@font-face {font-family: 'Industry-DemiItalic';src: url('fonts/2A7E41_6_0.eot');src: url('fonts/2A7E41_6_0.eot?#iefix') format('embedded-opentype'),url('fonts/2A7E41_6_0.woff') format('woff'),url('fonts/2A7E41_6_0.ttf') format('truetype');}
@font-face {font-family: 'Industry-Demi';src: url('fonts/2A7E41_7_0.eot');src: url('fonts/2A7E41_7_0.eot?#iefix') format('embedded-opentype'),url('fonts/2A7E41_7_0.woff') format('woff'),url('fonts/2A7E41_7_0.ttf') format('truetype');}
@font-face {font-family: 'Industry-LightItalic';src: url('fonts/2A7E41_8_0.eot');src: url('fonts/2A7E41_8_0.eot?#iefix') format('embedded-opentype'),url('fonts/2A7E41_8_0.woff') format('woff'),url('fonts/2A7E41_8_0.ttf') format('truetype');}
@font-face {font-family: 'Industry-Light';src: url('fonts/2A7E41_9_0.eot');src: url('fonts/2A7E41_9_0.eot?#iefix') format('embedded-opentype'),url('fonts/2A7E41_9_0.woff') format('woff'),url('fonts/2A7E41_9_0.ttf') format('truetype');}
@font-face {font-family: 'Industry-MediumItalic';src: url('fonts/2A7E41_A_0.eot');src: url('fonts/2A7E41_A_0.eot?#iefix') format('embedded-opentype'),url('fonts/2A7E41_A_0.woff') format('woff'),url('fonts/2A7E41_A_0.ttf') format('truetype');}
@font-face {font-family: 'Industry-Medium';src: url('fonts/2A7E41_B_0.eot');src: url('fonts/2A7E41_B_0.eot?#iefix') format('embedded-opentype'),url('fonts/2A7E41_B_0.woff') format('woff'),url('fonts/2A7E41_B_0.ttf') format('truetype');}
@font-face {font-family: 'Industry-Thin';src: url('fonts/2A7E41_C_0.eot');src: url('fonts/2A7E41_C_0.eot?#iefix') format('embedded-opentype'),url('fonts/2A7E41_C_0.woff') format('woff'),url('fonts/2A7E41_C_0.ttf') format('truetype');}
@font-face {font-family: 'Industry-ThinItalic';src: url('fonts/2A7E41_D_0.eot');src: url('fonts/2A7E41_D_0.eot?#iefix') format('embedded-opentype'),url('fonts/2A7E41_D_0.woff') format('woff'),url('fonts/2A7E41_D_0.ttf') format('truetype');}