
/*------------------------------------*\

    x. Mandatory Includes

\*------------------------------------*/

@import "bourbon/bourbon";
@import "variables";
@import "neat/neat";
@import "typography";
@import "reset";

/*------------------------------------*\

    x. Element Sass Includes 

\*------------------------------------*/
@import "components/header";
@import "components/bullets";
@import "components/cards";
@import "components/footer";
@import "components/comments";
@import "components/intro";
@import "components/progress";
@import "components/side-image";
@import "components/flex-box";
@import "components/fade-in";
@import "components/modal";
@import "components/griditems";

/*------------------------------------*\

    x. Mobile styling 

\*------------------------------------*/

body {
  color: $textblue;
  text-align: left;
}

h3 {
  margin: 1em;
}

pre {
  line-height: 1.6em;
}

section {
  text-align: center;
  padding: 1.2em;
  div {
    
    padding-bottom: 2em;
  }

  &:nth-child(odd){
    background-color: #EFEFEF;
  }
  &:nth-child(even){
    background-color: #D1D5D8;
  }

  &.cards {
    div {
      height: auto;
      text-align: left;
      overflow: hidden;
    }
  } 
}