@charset "UTF-8";
/*------------------------------*\

	TABLE OF CONTENTS

	x. SASS ELEMENTS (not shown in CSS)

	0. HACKS AND OVERRIDES

	1. CONTENT

\*------------------------------*/
/*------------------------------------*\

    x. Mandatory Includes

\*------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body:before {
  content: '';
  display: inline-block;
  background-image: deprecated-webkit-gradient(linear, left top, left bottom, transparent 0, #E6F6FF 0, #E6F6FF 6.17215%, transparent 6.17215%, transparent 8.5298%, #E6F6FF 8.5298%, #E6F6FF 14.70196%, transparent 14.70196%, transparent 17.05961%, #E6F6FF 17.05961%, #E6F6FF 23.23176%, transparent 23.23176%, transparent 25.58941%, #E6F6FF 25.58941%, #E6F6FF 31.76157%, transparent 31.76157%, transparent 34.11922%, #E6F6FF 34.11922%, #E6F6FF 40.29137%, transparent 40.29137%, transparent 42.64902%, #E6F6FF 42.64902%, #E6F6FF 48.82117%, transparent 48.82117%, transparent 51.17883%, #E6F6FF 51.17883%, #E6F6FF 57.35098%, transparent 57.35098%, transparent 59.70863%, #E6F6FF 59.70863%, #E6F6FF 65.88078%, transparent 65.88078%, transparent 68.23843%, #E6F6FF 68.23843%, #E6F6FF 74.41059%, transparent 74.41059%, transparent 76.76824%, #E6F6FF 76.76824%, #E6F6FF 82.94039%, transparent 82.94039%, transparent 85.29804%, #E6F6FF 85.29804%, #E6F6FF 91.4702%, transparent 91.4702%, transparent 93.82785%, #E6F6FF 93.82785%, #E6F6FF 100.0%, transparent 100.0%);
  background-image: -webkit-linear-gradient(left, transparent 0, #E6F6FF 0, #E6F6FF 6.17215%, transparent 6.17215%, transparent 8.5298%, #E6F6FF 8.5298%, #E6F6FF 14.70196%, transparent 14.70196%, transparent 17.05961%, #E6F6FF 17.05961%, #E6F6FF 23.23176%, transparent 23.23176%, transparent 25.58941%, #E6F6FF 25.58941%, #E6F6FF 31.76157%, transparent 31.76157%, transparent 34.11922%, #E6F6FF 34.11922%, #E6F6FF 40.29137%, transparent 40.29137%, transparent 42.64902%, #E6F6FF 42.64902%, #E6F6FF 48.82117%, transparent 48.82117%, transparent 51.17883%, #E6F6FF 51.17883%, #E6F6FF 57.35098%, transparent 57.35098%, transparent 59.70863%, #E6F6FF 59.70863%, #E6F6FF 65.88078%, transparent 65.88078%, transparent 68.23843%, #E6F6FF 68.23843%, #E6F6FF 74.41059%, transparent 74.41059%, transparent 76.76824%, #E6F6FF 76.76824%, #E6F6FF 82.94039%, transparent 82.94039%, transparent 85.29804%, #E6F6FF 85.29804%, #E6F6FF 91.4702%, transparent 91.4702%, transparent 93.82785%, #E6F6FF 93.82785%, #E6F6FF 100.0%, transparent 100.0%);
  background-image: -moz-linear-gradient(left, transparent 0, #E6F6FF 0, #E6F6FF 6.17215%, transparent 6.17215%, transparent 8.5298%, #E6F6FF 8.5298%, #E6F6FF 14.70196%, transparent 14.70196%, transparent 17.05961%, #E6F6FF 17.05961%, #E6F6FF 23.23176%, transparent 23.23176%, transparent 25.58941%, #E6F6FF 25.58941%, #E6F6FF 31.76157%, transparent 31.76157%, transparent 34.11922%, #E6F6FF 34.11922%, #E6F6FF 40.29137%, transparent 40.29137%, transparent 42.64902%, #E6F6FF 42.64902%, #E6F6FF 48.82117%, transparent 48.82117%, transparent 51.17883%, #E6F6FF 51.17883%, #E6F6FF 57.35098%, transparent 57.35098%, transparent 59.70863%, #E6F6FF 59.70863%, #E6F6FF 65.88078%, transparent 65.88078%, transparent 68.23843%, #E6F6FF 68.23843%, #E6F6FF 74.41059%, transparent 74.41059%, transparent 76.76824%, #E6F6FF 76.76824%, #E6F6FF 82.94039%, transparent 82.94039%, transparent 85.29804%, #E6F6FF 85.29804%, #E6F6FF 91.4702%, transparent 91.4702%, transparent 93.82785%, #E6F6FF 93.82785%, #E6F6FF 100.0%, transparent 100.0%);
  background-image: -ms-linear-gradient(left, transparent 0, #E6F6FF 0, #E6F6FF 6.17215%, transparent 6.17215%, transparent 8.5298%, #E6F6FF 8.5298%, #E6F6FF 14.70196%, transparent 14.70196%, transparent 17.05961%, #E6F6FF 17.05961%, #E6F6FF 23.23176%, transparent 23.23176%, transparent 25.58941%, #E6F6FF 25.58941%, #E6F6FF 31.76157%, transparent 31.76157%, transparent 34.11922%, #E6F6FF 34.11922%, #E6F6FF 40.29137%, transparent 40.29137%, transparent 42.64902%, #E6F6FF 42.64902%, #E6F6FF 48.82117%, transparent 48.82117%, transparent 51.17883%, #E6F6FF 51.17883%, #E6F6FF 57.35098%, transparent 57.35098%, transparent 59.70863%, #E6F6FF 59.70863%, #E6F6FF 65.88078%, transparent 65.88078%, transparent 68.23843%, #E6F6FF 68.23843%, #E6F6FF 74.41059%, transparent 74.41059%, transparent 76.76824%, #E6F6FF 76.76824%, #E6F6FF 82.94039%, transparent 82.94039%, transparent 85.29804%, #E6F6FF 85.29804%, #E6F6FF 91.4702%, transparent 91.4702%, transparent 93.82785%, #E6F6FF 93.82785%, #E6F6FF 100.0%, transparent 100.0%);
  background-image: -o-linear-gradient(left, transparent 0, #E6F6FF 0, #E6F6FF 6.17215%, transparent 6.17215%, transparent 8.5298%, #E6F6FF 8.5298%, #E6F6FF 14.70196%, transparent 14.70196%, transparent 17.05961%, #E6F6FF 17.05961%, #E6F6FF 23.23176%, transparent 23.23176%, transparent 25.58941%, #E6F6FF 25.58941%, #E6F6FF 31.76157%, transparent 31.76157%, transparent 34.11922%, #E6F6FF 34.11922%, #E6F6FF 40.29137%, transparent 40.29137%, transparent 42.64902%, #E6F6FF 42.64902%, #E6F6FF 48.82117%, transparent 48.82117%, transparent 51.17883%, #E6F6FF 51.17883%, #E6F6FF 57.35098%, transparent 57.35098%, transparent 59.70863%, #E6F6FF 59.70863%, #E6F6FF 65.88078%, transparent 65.88078%, transparent 68.23843%, #E6F6FF 68.23843%, #E6F6FF 74.41059%, transparent 74.41059%, transparent 76.76824%, #E6F6FF 76.76824%, #E6F6FF 82.94039%, transparent 82.94039%, transparent 85.29804%, #E6F6FF 85.29804%, #E6F6FF 91.4702%, transparent 91.4702%, transparent 93.82785%, #E6F6FF 93.82785%, #E6F6FF 100.0%, transparent 100.0%);
  background-image: linear-gradient(left, transparent 0, #E6F6FF 0, #E6F6FF 6.17215%, transparent 6.17215%, transparent 8.5298%, #E6F6FF 8.5298%, #E6F6FF 14.70196%, transparent 14.70196%, transparent 17.05961%, #E6F6FF 17.05961%, #E6F6FF 23.23176%, transparent 23.23176%, transparent 25.58941%, #E6F6FF 25.58941%, #E6F6FF 31.76157%, transparent 31.76157%, transparent 34.11922%, #E6F6FF 34.11922%, #E6F6FF 40.29137%, transparent 40.29137%, transparent 42.64902%, #E6F6FF 42.64902%, #E6F6FF 48.82117%, transparent 48.82117%, transparent 51.17883%, #E6F6FF 51.17883%, #E6F6FF 57.35098%, transparent 57.35098%, transparent 59.70863%, #E6F6FF 59.70863%, #E6F6FF 65.88078%, transparent 65.88078%, transparent 68.23843%, #E6F6FF 68.23843%, #E6F6FF 74.41059%, transparent 74.41059%, transparent 76.76824%, #E6F6FF 76.76824%, #E6F6FF 82.94039%, transparent 82.94039%, transparent 85.29804%, #E6F6FF 85.29804%, #E6F6FF 91.4702%, transparent 91.4702%, transparent 93.82785%, #E6F6FF 93.82785%, #E6F6FF 100.0%, transparent 100.0%);
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 64em;
  opacity: 0.4;
  position: fixed;
  right: 0;
  width: 100%;
  pointer-events: none;
  z-index: -1; }
  @media screen and (max-width: 500px) {
    body:before {
      background-image: deprecated-webkit-gradient(linear, left top, left bottom, transparent 0, #E6F6FF 0, #E6F6FF 19.43277%, transparent 19.43277%, transparent 26.85574%, #E6F6FF 26.85574%, #E6F6FF 46.28851%, transparent 46.28851%, transparent 53.71149%, #E6F6FF 53.71149%, #E6F6FF 73.14426%, transparent 73.14426%, transparent 80.56723%, #E6F6FF 80.56723%, #E6F6FF 100%, transparent 100%);
      background-image: -webkit-linear-gradient(left, transparent 0, #E6F6FF 0, #E6F6FF 19.43277%, transparent 19.43277%, transparent 26.85574%, #E6F6FF 26.85574%, #E6F6FF 46.28851%, transparent 46.28851%, transparent 53.71149%, #E6F6FF 53.71149%, #E6F6FF 73.14426%, transparent 73.14426%, transparent 80.56723%, #E6F6FF 80.56723%, #E6F6FF 100%, transparent 100%);
      background-image: -moz-linear-gradient(left, transparent 0, #E6F6FF 0, #E6F6FF 19.43277%, transparent 19.43277%, transparent 26.85574%, #E6F6FF 26.85574%, #E6F6FF 46.28851%, transparent 46.28851%, transparent 53.71149%, #E6F6FF 53.71149%, #E6F6FF 73.14426%, transparent 73.14426%, transparent 80.56723%, #E6F6FF 80.56723%, #E6F6FF 100%, transparent 100%);
      background-image: -ms-linear-gradient(left, transparent 0, #E6F6FF 0, #E6F6FF 19.43277%, transparent 19.43277%, transparent 26.85574%, #E6F6FF 26.85574%, #E6F6FF 46.28851%, transparent 46.28851%, transparent 53.71149%, #E6F6FF 53.71149%, #E6F6FF 73.14426%, transparent 73.14426%, transparent 80.56723%, #E6F6FF 80.56723%, #E6F6FF 100%, transparent 100%);
      background-image: -o-linear-gradient(left, transparent 0, #E6F6FF 0, #E6F6FF 19.43277%, transparent 19.43277%, transparent 26.85574%, #E6F6FF 26.85574%, #E6F6FF 46.28851%, transparent 46.28851%, transparent 53.71149%, #E6F6FF 53.71149%, #E6F6FF 73.14426%, transparent 73.14426%, transparent 80.56723%, #E6F6FF 80.56723%, #E6F6FF 100%, transparent 100%);
      background-image: linear-gradient(left, transparent 0, #E6F6FF 0, #E6F6FF 19.43277%, transparent 19.43277%, transparent 26.85574%, #E6F6FF 26.85574%, #E6F6FF 46.28851%, transparent 46.28851%, transparent 53.71149%, #E6F6FF 53.71149%, #E6F6FF 73.14426%, transparent 73.14426%, transparent 80.56723%, #E6F6FF 80.56723%, #E6F6FF 100%, transparent 100%); } }

body {
  font: 1em "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.618em; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent; }

html, body {
  font-size: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }
a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

small {
  font-size: 75%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

img {
  border: 0;
  height: auto;
  max-width: 100%;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*------------------------------------*\

    x. Element Sass Includes 

\*------------------------------------*/
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477DCA;
  border-radius: 0.1875em;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

header.navigation {
  background-color: #333;
  border-bottom: 1px solid #1a1a1a;
  height: 60px;
  width: 100%;
  z-index: 999; }
  header.navigation .navigation-wrapper {
    max-width: 64em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 9999; }
    header.navigation .navigation-wrapper:after {
      content: "";
      display: table;
      clear: both; }
    header.navigation .navigation-wrapper:after {
      content: "";
      display: table;
      clear: both; }
  header.navigation .logo {
    float: left;
    max-height: 60px;
    padding-left: 1em;
    padding-right: 2em; }
    header.navigation .logo img {
      max-height: 60px;
      padding: .8em 0; }
    header.navigation .logo h1 {
      display: none; }
      @media screen and (min-width: 53.75em) {
        header.navigation .logo h1 {
          display: block; } }
  header.navigation .navigation-menu-button {
    color: rgba(255, 255, 255, 0.7);
    display: block;
    float: right;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      header.navigation .navigation-menu-button {
        display: none; } }
    header.navigation .navigation-menu-button:hover {
      color: white; }
  header.navigation .nav {
    z-index: 9999999;
    float: none; }
    @media screen and (min-width: 53.75em) {
      header.navigation .nav {
        float: right; } }
  header.navigation ul#navigation-menu {
    -webkit-transform-style: preserve-3d;
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul#navigation-menu {
        display: inline;
        margin: 0;
        padding: 0; } }
  header.navigation ul li.nav-link {
    background: #333;
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-right: .8em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 60px;
        text-decoration: none;
        width: auto; } }
    header.navigation ul li.nav-link a {
      color: rgba(255, 255, 255, 0.7);
      display: inline-block;
      font-weight: 400; }
      @media screen and (min-width: 53.75em) {
        header.navigation ul li.nav-link a {
          padding-right: 1em; } }
      header.navigation ul li.nav-link a:hover {
        color: white; }
  header.navigation .active-nav-item a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 3px; }
  header.navigation li.more.nav-link {
    padding-right: 0; }
    @media screen and (min-width: 53.75em) {
      header.navigation li.more.nav-link {
        padding-right: 1em; } }
    header.navigation li.more.nav-link > ul > li:first-child a {
      padding-top: 1em; }
    header.navigation li.more.nav-link a {
      margin-right: 1em; }
    header.navigation li.more.nav-link > a {
      padding-right: 0.6em; }
    header.navigation li.more.nav-link > a:after {
      position: absolute;
      top: auto;
      right: -0.4em;
      bottom: auto;
      left: auto;
      content: '\25BE';
      color: rgba(255, 255, 255, 0.7); }
  header.navigation li.more {
    overflow: visible;
    padding-right: 0; }
    header.navigation li.more a {
      padding-right: .8em; }
    header.navigation li.more > a {
      padding-right: 1.6em;
      position: relative; }
      @media screen and (min-width: 53.75em) {
        header.navigation li.more > a {
          margin-right: 1em; } }
      header.navigation li.more > a:after {
        content: '›';
        font-size: 1.2em;
        position: absolute;
        right: 0.5em; }
    header.navigation li.more:hover > .submenu {
      display: block; }
    @media screen and (min-width: 53.75em) {
      header.navigation li.more {
        padding-right: .8em;
        position: relative; } }
  header.navigation ul.submenu {
    display: none;
    padding-left: 0; }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.submenu {
        left: -1em;
        position: absolute;
        top: 1.5em; } }
    @media screen and (min-width: 53.75em) {
      header.navigation ul.submenu .submenu {
        left: 11.8em;
        top: 0; } }
    header.navigation ul.submenu li {
      display: block;
      padding-right: 0; }
      @media screen and (min-width: 53.75em) {
        header.navigation ul.submenu li {
          line-height: 46.15385px; }
          header.navigation ul.submenu li:first-child > a {
            border-top-left-radius: 0.1875em;
            border-top-right-radius: 0.1875em; }
          header.navigation ul.submenu li:last-child > a {
            border-bottom-left-radius: 0.1875em;
            border-bottom-right-radius: 0.1875em;
            padding-bottom: .7em; } }
      header.navigation ul.submenu li a {
        background-color: #2b2b2b;
        display: inline-block;
        text-align: right;
        width: 100%; }
        @media screen and (min-width: 53.75em) {
          header.navigation ul.submenu li a {
            background-color: #333;
            padding-left: 1em;
            text-align: left;
            width: 12em; } }
  header.navigation .navigation-tools {
    display: block;
    padding-right: 1em;
    padding-left: 0.5em;
    clear: both;
    background: #505050; }
    header.navigation .navigation-tools:after {
      content: "";
      display: table;
      clear: both; }
    @media screen and (min-width: 53.75em) {
      header.navigation .navigation-tools {
        background: transparent;
        float: right;
        clear: none; } }
  header.navigation a.sign-up {
    margin-top: 1.2em;
    float: right;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline;
    background: #477DCA;
    border-radius: 0.1875em;
    color: white;
    font-size: .8em;
    font-weight: 800;
    text-transform: uppercase;
    padding: .4em .5em; }
    @media screen and (min-width: 53.75em) {
      header.navigation a.sign-up {
        padding: .5em 1em; } }
    header.navigation a.sign-up:hover {
      background: #6f99d5; }
  header.navigation .search-bar {
    padding: .85em .6em;
    float: left; }
    header.navigation .search-bar .search-and-submit {
      position: relative; }
      header.navigation .search-bar .search-and-submit input[type=search] {
        background: #404040;
        border: 1px solid #262626;
        padding: .6em .8em;
        font-size: .9em;
        font-style: italic;
        color: rgba(255, 255, 255, 0.7);
        border-radius: 0.375em;
        margin: 0; }
        @media screen and (min-width: 53.75em) {
          header.navigation .search-bar .search-and-submit input[type=search] {
            width: 100%; } }
      header.navigation .search-bar .search-and-submit button[type=submit] {
        border: 1px solid #363636;
        border-radius: 0px;
        box-shadow: inset 0 1px 0 0 gray;
        color: white;
        display: inline-block;
        font-size: inherit;
        font-weight: bold;
        background-color: #595959;
        background-image: -webkit-linear-gradient(#595959, #595959);
        background-image: linear-gradient(#595959, #595959);
        padding: 7px 18px;
        text-decoration: none;
        text-shadow: 0 1px 0 #2b2b2b;
        background-clip: padding-box;
        border: 1px solid #3a3131;
        border-radius: 0px;
        box-shadow: inset 0 1px 0 0 gray;
        color: white;
        display: inline-block;
        font-size: inherit;
        font-weight: bold;
        background-color: #595959;
        background-image: -webkit-linear-gradient(#595959, #595959);
        background-image: linear-gradient(#595959, #595959);
        padding: 7px 18px;
        text-decoration: none;
        text-shadow: 0 1px 0 #322525;
        background-clip: padding-box;
        position: absolute;
        top: 0.3em;
        right: 0.3em;
        bottom: 0.3em;
        left: auto;
        outline: none;
        padding: 0 15px; }
        header.navigation .search-bar .search-and-submit button[type=submit]:hover:not(:disabled) {
          cursor: pointer;
          background-color: #363636;
          background-image: -webkit-linear-gradient(#363636, #363636);
          background-image: linear-gradient(#363636, #363636); }
        header.navigation .search-bar .search-and-submit button[type=submit]:active:not(:disabled), header.navigation .search-bar .search-and-submit button[type=submit]:focus:not(:disabled) {
          border: 1px solid #363636;
          box-shadow: inset 0 0 8px 4px #2e2e2e, inset 0 0 8px 4px #2e2e2e; }
        header.navigation .search-bar .search-and-submit button[type=submit]:hover:not(:disabled) {
          cursor: pointer;
          background-color: #3a3131;
          background-image: -webkit-linear-gradient(#3a3131, #3a3131);
          background-image: linear-gradient(#3a3131, #3a3131); }
        header.navigation .search-bar .search-and-submit button[type=submit]:active:not(:disabled), header.navigation .search-bar .search-and-submit button[type=submit]:focus:not(:disabled) {
          border: 1px solid #3a3131;
          box-shadow: inset 0 0 8px 4px #312b2b, inset 0 0 8px 4px #312b2b; }
        header.navigation .search-bar .search-and-submit button[type=submit]:disabled {
          opacity: 0.5;
          cursor: not-allowed; }
        header.navigation .search-bar .search-and-submit button[type=submit] img {
          height: 12px;
          opacity: .7; }
    @media screen and (min-width: 53.75em) {
      header.navigation .search-bar {
        width: 16em;
        position: relative;
        display: inline-block; }
        header.navigation .search-bar input {
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          display: block; } }

button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477DCA;
  border-radius: 0.1875em;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

.bullets {
  overflow: auto;
  padding-bottom: 1.5em;
  text-align: left; }
  @media screen and (min-width: 53.75em) {
    .bullets .one-col-bullet {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .bullets .one-col-bullet:last-child {
        margin-right: 0; }
      .bullets .one-col-bullet:nth-child(n) {
        margin-right: 0; } }
  @media screen and (min-width: 53.75em) {
    .bullets .two-col-bullet {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .bullets .two-col-bullet:last-child {
        margin-right: 0; }
      .bullets .two-col-bullet:nth-child(2n) {
        margin-right: 0; }
      .bullets .two-col-bullet:nth-child(2n+1) {
        clear: left; } }
  @media screen and (min-width: 53.75em) {
    .bullets .three-col-bullet {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .bullets .three-col-bullet:last-child {
        margin-right: 0; }
      .bullets .three-col-bullet:nth-child(3n) {
        margin-right: 0; }
      .bullets .three-col-bullet:nth-child(3n+1) {
        clear: left; } }
  @media screen and (min-width: 53.75em) {
    .bullets .four-col-bullet {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .bullets .four-col-bullet:last-child {
        margin-right: 0; }
      .bullets .four-col-bullet:nth-child(4n) {
        margin-right: 0; }
      .bullets .four-col-bullet:nth-child(4n+1) {
        clear: left; } }
  .bullets .bullet-icon {
    float: left;
    background: #477DCA;
    padding: 0.6em;
    border-radius: 50%;
    width: 3em; }
    .bullets .bullet-icon .fa-2x {
      font-size: 1.7em !important; }
  .bullets .bullet-icon-1 {
    background: #477DCA; }
  .bullets .bullet-icon-2 {
    background: #47caaa; }
  .bullets .bullet-icon-3 {
    background: #a9ca47; }
  .bullets .bullet-content {
    margin-left: 4.2em;
    margin-bottom: 2em;
    padding: 0em !important; }
  .bullets h2 {
    font-size: 1.5em;
    padding-top: 0.3em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    display: inline-block; }
  .bullets ul, .bullets ol {
    padding-left: 5px;
    padding-bottom: 10px; }
    .bullets ul li, .bullets ol li {
      list-style-type: square; }

button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477DCA;
  border-radius: 0.1875em;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

.cards:after {
  content: "";
  display: table;
  clear: both; }

.card {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #f7f7f7;
  border-radius: 0.1875em;
  border: 1px solid #DDD;
  margin-bottom: 1.5em;
  cursor: pointer;
  box-shadow: 0 2px 4px #e6e6e6;
  position: relative; }
  @media screen and (min-width: 53.75em) {
    .card {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .card:last-child {
        margin-right: 0; }
      .card:nth-child(3n) {
        margin-right: 0; }
      .card:nth-child(3n+1) {
        clear: left; } }
  .card .card-image {
    overflow: hidden;
    max-height: 150px; }
    .card .card-image img {
      width: 100%;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      background: #DBD199;
      border-top-left-radius: 0.1875em;
      border-top-right-radius: 0.1875em; }
  .card .ribbon-wrapper {
    height: 85px;
    width: 85px;
    overflow: hidden;
    position: absolute;
    top: -1px;
    right: -1px; }
    .card .ribbon-wrapper .ribbon {
      font-size: .8em;
      font-weight: 800;
      text-align: center;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      position: relative;
      padding: 2px 7px;
      left: -5px;
      top: 15px;
      width: 120px;
      background-color: #477DCA;
      color: white;
      box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3); }
  .card .card-header {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: #f7f7f7;
    border-bottom: 1px solid #DDD;
    border-radius: 0.1875em 0.1875em 0 0;
    font-weight: bold;
    padding: 0.5em 0.809em; }
  .card .card-copy {
    padding: 0.75em 0.809em;
    font-size: .9em;
    line-height: 1.5em; }
  .card .card-stats {
    padding: 0.75em 0.809em;
    overflow: auto; }
    .card .card-stats ul li {
      display: inline;
      color: #6f99d5;
      font-weight: 800;
      font-size: 1.2em;
      float: left;
      border-right: 1px solid rgba(51, 51, 51, 0.2);
      line-height: 1.1em;
      padding: 0 .7em 0 .7em; }
      .card .card-stats ul li:first-child {
        padding-left: 0; }
      .card .card-stats ul li:last-child {
        border-right: 0; }
      .card .card-stats ul li span {
        color: #333;
        font-size: .7em;
        display: block;
        font-weight: normal; }
  .card:hover {
    background-color: white; }
    .card:hover .card-image img {
      background: #e2daac; }
    .card:hover .card-header {
      background-color: white; }
  .card:active {
    background-color: #f7f7f7; }
    .card:active .card-header {
      background-color: #f7f7f7; }

.footer-2 {
  background: #40526b;
  padding: 1.0em;
  width: 100%;
  display: inline-block; }
  .footer-2 .footer-logo {
    margin-right: 1em;
    margin-bottom: 1em; }
    @media screen and (min-width: 53.75em) {
      .footer-2 .footer-logo {
        float: left;
        margin-bottom: 0; } }
  .footer-2 .footer-logo img {
    height: 1.6em; }
  .footer-2 ul {
    margin-bottom: 1em; }
    @media screen and (min-width: 53.75em) {
      .footer-2 ul {
        float: left;
        margin-left: 1em;
        margin-bottom: 0; } }
  .footer-2 ul li {
    font-size: .8em;
    font-weight: 400; }
    @media screen and (min-width: 53.75em) {
      .footer-2 ul li {
        display: inline;
        text-align: left; } }
  .footer-2 ul li a {
    color: rgba(255, 255, 255, 0.4); }
    .footer-2 ul li a:hover {
      color: white; }
  @media screen and (min-width: 53.75em) {
    .footer-2 .footer-secondary-links {
      float: right; } }
  .footer-2 .footer-secondary-links li {
    font-size: .8em;
    font-weight: 400; }
  .footer-2 .footer-secondary-links ul.footer-social {
    margin-top: 1em; }
    @media screen and (min-width: 53.75em) {
      .footer-2 .footer-secondary-links ul.footer-social {
        float: right;
        margin-top: 0; } }
    .footer-2 .footer-secondary-links ul.footer-social li {
      float: left;
      font-size: 1em;
      padding-right: .7em; }
      .footer-2 .footer-secondary-links ul.footer-social li:last-child {
        padding-right: 0; }
    .footer-2 .footer-secondary-links ul.footer-social img {
      opacity: .7;
      height: 1.6em;
      padding: 1px; }
      .footer-2 .footer-secondary-links ul.footer-social img:hover {
        opacity: 1; }

.comment {
  display: table;
  width: 100%;
  margin-bottom: 1.5em;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(51, 51, 51, 0.1); }
  .comment .comment-image,
  .comment .comment-content {
    display: table-cell !important;
    vertical-align: top; }
  .comment .comment-image {
    padding-right: 1.4em; }
    .comment .comment-image > img {
      width: 4em;
      height: auto;
      border-radius: 0.1875em;
      padding: 0.7em;
      background: #82a7db;
      display: block;
      max-width: none; }
    .comment-reverse-order .comment .comment-image {
      padding-right: 0;
      padding-left: 10px; }
  .comment .comment-content {
    width: 100%; }
    .comment .comment-content h1 {
      font-size: 1em;
      margin-bottom: .5em; }
    .comment .comment-content p {
      margin-bottom: .5em; }
    .comment .comment-content p.comment-detail {
      font-style: italic;
      font-size: .9em;
      color: rgba(51, 51, 51, 0.5); }

.intro-text {
  padding-bottom: 5em;
  padding-top: 4em;
  text-align: center;
  height: auto; }
  .intro-text h2 {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: 800;
    margin-bottom: .3em; }
    @media screen and (min-width: 53.75em) {
      .intro-text h2 {
        font-size: 3em;
        margin-bottom: .4em; } }
  .intro-text h3 {
    background: #477DCA;
    color: white;
    display: inline-block;
    font-size: .7em;
    font-weight: 800;
    margin-bottom: 2em;
    padding: 3px 8px;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      .intro-text h3 {
        margin-bottom: 3.3em; } }
  .intro-text h4 {
    color: #666666;
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.4em;
    margin: 0 auto 1em; }
    @media screen and (min-width: 53.75em) {
      .intro-text h4 {
        font-size: 1.7em;
        line-height: 1.35em;
        margin: 0 auto 1em;
        width: 60%; } }
  .intro-text p {
    margin: auto; }
    @media screen and (min-width: 53.75em) {
      .intro-text p {
        width: 60%; } }
    .intro-text p a {
      font-size: .8em;
      font-weight: 400;
      text-transform: uppercase; }
      .intro-text p a span {
        font-size: 1.3em;
        line-height: 0; }

.progress-bar {
  background-color: #f2f2f2;
  border: 1px solid #DDD;
  box-shadow: inset 0 0 3px 0 rgba(115, 115, 115, 0.15);
  border-radius: 0.1875em;
  height: 30px;
  margin: 0 auto;
  padding: 2px;
  width: 50%; }
  .progress-bar > span.meter {
    -webkit-animation: progress 0.7s linear infinite;
    -moz-animation: progress 0.7s linear infinite;
    animation: progress 0.7s linear infinite;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #477DCA;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%);
    background-size: 40px 40px;
    background-repeat: repeat-x;
    border: 1px solid #2c5999;
    border-radius: 0.125em;
    display: block;
    height: 100%;
    width: 60%; }

@-webkit-keyframes progress {
  0% {
    background-position: 0px 0px; }
  100% {
    background-position: 40px 0px; } }
@-moz-keyframes progress {
  0% {
    background-position: 0px 0px; }
  100% {
    background-position: 40px 0px; } }
@-ms-keyframes progress {
  0% {
    background-position: 0px 0px; }
  100% {
    background-position: 40px 0px; } }
@-o-keyframes progress {
  0% {
    background-position: 0px 0px; }
  100% {
    background-position: 40px 0px; } }
@keyframes progress {
  0% {
    background-position: 0px 0px; }
  100% {
    background-position: 40px 0px; } }
.progress-bar-indication {
  background-color: #f2f2f2;
  border: 1px solid #DDD;
  box-shadow: inset 0 0 3px 0 rgba(115, 115, 115, 0.15);
  border-radius: 0.1875em;
  margin: 0 auto;
  width: 50%; }
  .progress-bar-indication > span.meter {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #477DCA;
    background-size: 40px 40px;
    background-repeat: repeat-x;
    border: 1px solid #2c5999;
    border-radius: 0.125em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    display: block;
    height: 100%;
    width: 60%; }
  .progress-bar-indication p {
    margin-bottom: 0;
    padding: .1em .5em;
    font-weight: 800;
    color: white;
    text-shadow: 0 0 1px black; }

button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477DCA;
  border-radius: 0.1875em;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: .75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.25em;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 0.1875em;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  margin-bottom: 0.75em;
  padding-bottom: 0.5em;
  width: 100%; }

select {
  width: auto;
  max-width: 100%;
  margin-bottom: 1.5em; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr, td, th {
  vertical-align: middle; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

@media screen and (min-width: 53.75em) {
  .side-image {
    display: table;
    width: 100%;
    table-layout: fixed; }
    .side-image:after {
      content: "";
      display: table;
      clear: both; } }
.side-image .images-wrapper {
  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"), -webkit-linear-gradient(#B5EBEB, #5DAC5D), no-repeat #B5EBEB scroll;
  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"), linear-gradient(#B5EBEB, #5DAC5D), no-repeat #B5EBEB scroll;
  border-bottom: 1px solid rgba(38, 74, 38, 0.2);
  background-size: cover;
  display: block;
  min-height: 12em;
  padding: 3em; }
  @media screen and (min-width: 53.75em) {
    .side-image .images-wrapper {
      display: table-cell;
      width: 33.33333%;
      background-position: bottom;
      background-size: cover;
      border-right: 1px solid rgba(38, 74, 38, 0.2); } }
.side-image .content {
  display: table-cell;
  width: 100%;
  padding: 1em 1em 4em 1em; }
  @media screen and (min-width: 53.75em) {
    .side-image .content {
      display: table-cell;
      width: 66.66667%;
      padding: 4em 4em 8em 4em; } }
.side-image .content h1 {
  margin-bottom: .9em; }
.side-image .content h4 {
  background: #5DAC5D;
  color: white;
  display: inline-block;
  font-size: .75em;
  font-weight: 800;
  margin-bottom: 1.3em;
  padding: 3px 8px;
  text-transform: uppercase; }
.side-image .content p {
  margin-bottom: 3em; }
.side-image .content button {
  border: 1px solid #dbdbdb;
  border-radius: 0px;
  box-shadow: inset 0 1px 0 0 white;
  color: #333333;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #FFF;
  background-image: -webkit-linear-gradient(#FFF, white);
  background-image: linear-gradient(#FFF, white);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 white;
  background-clip: padding-box;
  border: 1px solid #dfd8d8;
  border-radius: 0px;
  box-shadow: inset 0 1px 0 0 white;
  color: #333333;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #FFF;
  background-image: -webkit-linear-gradient(#FFF, white);
  background-image: linear-gradient(#FFF, white);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 white;
  background-clip: padding-box;
  font-size: 1em;
  outline: none; }
  .side-image .content button:hover:not(:disabled) {
    cursor: pointer;
    background-color: #dbdbdb;
    background-image: -webkit-linear-gradient(#dbdbdb, #dbdbdb);
    background-image: linear-gradient(#dbdbdb, #dbdbdb); }
  .side-image .content button:active:not(:disabled), .side-image .content button:focus:not(:disabled) {
    border: 1px solid #dbdbdb;
    box-shadow: inset 0 0 8px 4px #d4d4d4, inset 0 0 8px 4px #d4d4d4; }
  .side-image .content button:hover:not(:disabled) {
    cursor: pointer;
    background-color: #ded8d8;
    background-image: -webkit-linear-gradient(#ded8d8, #ded8d8);
    background-image: linear-gradient(#ded8d8, #ded8d8); }
  .side-image .content button:active:not(:disabled), .side-image .content button:focus:not(:disabled) {
    border: 1px solid #dfd8d8;
    box-shadow: inset 0 0 8px 4px #d7d1d1, inset 0 0 8px 4px #d7d1d1; }
  .side-image .content button:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

/*------------------------------------*\

    x. Element Sass Includes 

\*------------------------------------*/
body {
  color: #072f44;
  text-align: left; }

h3 {
  margin: 1em; }

pre {
  line-height: 1.6em; }

section {
  background-color: #AADBF5;
  text-align: center;
  padding: 1.2em; }
  section div {
    padding-bottom: 2em; }
  section.cards div {
    height: auto;
    text-align: left;
    overflow: hidden; }

/*# sourceMappingURL=mobile.css.map */
